body {
  text-align: center;
}

.list {
  margin-top: 50px;
}

.list-header {
  text-decoration: underline;
}

.emphasize {
  font-weight: bold;
}

/* FORMS */

.form {
  padding: 50px 100px;
}

.form-control {
  margin-bottom: 50px;
}

/* VIEWS */

.home-list {
  font-size: 1.5em;
  list-style-type: none;
  padding-right: 25px;
  margin-top: 20px;
}

.engineer-list, .machine-list {
  font-size: 1.5em;
  list-style-type: circle;
  padding-right: 25px;
  margin-top: 20px;
}

.engineer-details, .machine-details {
  padding: 50px;
}

.warning {
  text-align: center;
  border: 2px dotted red;
  width: 70%;
  margin: 50px auto;
}

.warning-text {
  color: red;
  font-weight: bold;
}

/* BUTTONS */
li button {
  font-size: 0.7em;
}

.cancel-delete, .delete-form {
  text-align: center;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}