@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer

<div class="warning">
  <h1>Delete this Engineer's record?</h1>
  <p class="warning-text">This action will permanently delete this Engineer and their details from your records.</p>
  <h2>@Html.DisplayFor(model => model.Name)</h2>
</div>

<div class="delete-form">
  @using (Html.BeginForm())
  {
    <button type="submit", class="btn btn-danger">Delete</button>
  }
</div>
<div class="cancel-delete">
  <button class="btn btn-warning">@Html.ActionLink("Cancel", "Index")</button>
</div>