@{
  Layout = "_LayoutHome";
}

<div class="text-center container">
  <h1>Welcome, Dr. Sneuss's, to your Factory App!</h1>
  <h3>Here you can organize your Factory. Take a look around.</h3>

  <div class="row list">
    <div class="col-md-6 col-sm-12">
      <h4 class="list-header">Sneuss Factory Engineers</h4>
    </div>
    <div class="col-md-6 col-sm-12">
      <h4 class="list-header">Sneuss Factory Machines</h4>
    </div>
  </div>
</div>